<div class="max-w-6xl flex flex-col my-8 mx-auto">
  <h1 class="text-3xl text-center font-medium">Account</h1>

  <div class="max-w-6xl px-4">
    <button
      data-bs-toggle="modal"
      data-bs-target="#newAddressModal"
      class="bg-blue-500 text-white py-1 px-2">Create new address</button>
    <div class="grid grid-cols-2 my-5 gx-2">
      {% for address in customer.addresses %}
        <div class="">
            {{ address | format_address }}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="modal fade#newAddressModal" tabIndex="-1" aria-labelledby="newAddressModalLabel" aria-hidden="true">
  {% form 'customer_address', customer.new_address %}
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="grid grid-col-2 mb-3">
            
          </div>
        </div>
        <div class="modal-footer"></div>
      </div>
    </div>
  {% endform %}
</div>