<div class="flex flex-col items-center my-8">

  <h1 class="text-3xl text-center font-medium md:my16">Account</h1>

  <div class="max-w-6xl mx-auto justify-center items-center px-4">
    <div class="grid grid-cols-2">
      <div class="w-40">
        <h6>Account details</h6>
        {{ customer.default_address | format_address }}
      </div>

      <div class="w-80">here</div>
    </div>
  </div>
</div>