<div class="flex flex-col justify-center items-center my-auto mx-8">
  <h1 class="text-3xl text-center">My Addresses</h1>

  <button
    data-bs-toggle="model"
    data-bs-target="#newAddressModel"
    class="bg-blue-500 text-white px-2">Create new address</button>
  <div class="grid grid-2">
    {% for address in customer.addresses %}
      <div class="">
        <div class="border">
          {{ address | format_address }}
        </div>
      </div>
    {% endfor %}
  </div>
</div>