<div class="flex flex-col items-center my-8">

  <h1 class="text-3xl text-center font-medium md:my16">Account</h1>

  <div class="max-w-6xl mx-auto justify-center items-center px-4">
    <div class="flex flex-row">
      <div class="w-full">
        <h6>Account details</h6>
        {{ customer.default_address | format_address }}

        <a href="{{ routes.account_addresses_url }}" class="text-sm text-gray-500">View addresses</a>
      </div>

      <div class="">
        <div class="w-full">
          {% if customer.orders.size > 0 %}
            <table class="table-auto border-collapse border border-green-800 w-full">
              <thead>
                <tr>
                  <th class="border border-slate-500">Order #</th>
                  <th class="border border-slate-500">Fullfilment Status</th>
                  <th class="border border-slate-500">Payment Status</th>
                  <th class="border border-slate-500">Order Date</th>
                  <th class="border border-slate-500">Total</th>
                </tr>
              </thead>
            </table>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>