{% form 'customer_login' %}
  <div class="grid grid-cols-1 items-center text-center max-w-6xl">
    <label for="emailAddress" class="text-gray-500 ">Email Address</label>
    <input
      type="email"
      name="customer[email]"
      id="emailAddress">

    <label for="password" class="">Password</label>
    <input
      type="password"
      name="customer[password]"
      id="password"
      class="">

    <input type="submit" value="Login">
  </div>
{% endform %}