<div class="flex flex-col justify-center items-center my-auto mx-8">
  <h1 class="text-3xl text-center">My Addresses</h1>

  <div class="flex flex-col">
    {% for address in customer.addresses %}
      <div class="">
        <div class="border">
          {{ address | format_address }}
        </div>
      </div>
    {% endfor %}
  </div>
</div>