<div class="max-w-6xl flex items-center text-center justify-center">
  <h1 class="text-3xl text-center my-2 w-full">Account</h1>

  <div class="grid grid-cols-1 md:grid-cols-2">
    <div class="">here</div>
    <div class="">here</div>
  </div>
</div>