{% form 'customer_login' %}
  <label for="emailAddress">Email Address</label>
  <input
    type="email"
    name="customer[email]"
    id="emailAddress">

  <label for="password" class="">Password</label>
  <input
    type="password"
    name="customer[password]"
    id="password"
    class="">

  <input type="submit" value="Login">
{% endform %}