<style>
  .dropup {
    position: relative;
    display: inline-block;
  }

  .localeBtn {
    background-color: skyblue;
    color: white;
    padding: 6px;
    font-size: 20px;
    position: fixed;
    bottom: 25px;
    right: 25px;
    border-radius: 50%;
    max-width: 70px;
    max-height: 70px;
    box-shadow: -1px 0 20px 0 #00000066;
  }

  .dropup-content {
    display: none;
    position: fixed;
    bottom: 90px;
    right: 25px;
    min-width: 210px;
    z-index: 1;
    box-shadow: -1px 0 20px 0 #00000066;
  }

  .dropup:hover .dropup-content {
    display: block;
  }
</style>

{% form 'localization', id: "#localization_form_tag", class: "dropup" %}
  <div class="localeBtn">{{ 'globe.png' | asset_img_url: '50x50' | img_tag }}</div>
  <div class="dropup-content">
    {% for locale in shop.published_locales %}
      <a href="#">{{ locale.endonym_name }}</a>
    {% endfor %}
  </div>
{% endform %}