<style>
  .dropup {
    position: relative;
    display: inline-block;
  }

  .localeBtn {
    background-color: skyblue;
    color: white;
    padding: 6px;
    font-size: 20px;
    position: fixed;
    bottom: 25px;
    right: 25px;
  }
</style>

{% form 'localization', id: "#localization_form_tag", class: "dropup" %}
  <div class="localeBtn">Translate</div>
  <div class="dropup-content">
    {% for locale in shop.published_locales %}
      <a href="#">{{ locale.endonym_name }}</a>
    {% endfor %}
  </div>
{% endform %}